
.table-container {
}
.table-process {
    width: auto;
    min-width: 700px;
    margin: 20px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.tbody-process{
    display:block;
    height: 367px;
    overflow:auto;
}
.th-process,
.td-process {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;

}

.thead-process .th-process {
    background-color: #55608f;
}
.thead-process, .tbody-process .tr-process {
    display:table;
    width:100%;
    table-layout:fixed;
}
.tbody-process .tr-process:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.tbody-process .td-process {
    position: relative;
}
.tbody-process .td-process:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}
.tbody-process::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.tbody-process::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.tbody-process::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122,153,217)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(28,58,148)));
}
